/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.bb-header .card-header{
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}
span.required{
    color: #FF7D4D;
}
.custom-card-header{
    padding: 0.5rem 0.5rem;
}
.form-control-sm-custom{
    padding: 0.4rem 0.50rem;
    font-size: 0.9rem;
    line-height: 1.2;
}
.custom-dd dd{
    margin-bottom: 1.2rem;
}